<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand head-text1" style="color: #db0001" href="#"><img class="logo" width='40px' height='40px' src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"> YouSumma</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <span><a href="/" ><button style="background-color: #fff; color: black; font-weight: bold;">Home</button></a></span>
                <span><button onclick="downloadZip()">Download Extension</button></span>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mt-5">About Us</h1>
                <p class="lead">This project is developed as a major academic undertaking by a group of four students. We are collaborating to simplify information extraction from YouTube videos.</p>
                <p>We believe in the power of technology to make our lives easier and more efficient. Our goal is to provide users with a tool that allows them to quickly summarize YouTube videos and access the most important information without wasting time.</p>
            </div>
        </div>
    </div>

    <div class="footer text-center">
        <h2>For inquiries, email us at <a href="mailto:yousumma@gmail.com">yousumma@gmail.com</a></h2>
    
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h4>Made with ❤️</h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="d-flex justify-content-center align-items-center"><i class="fab fa-linkedin mr-2"></i> Ranjan Kumar</a></li>
                    <li><a href="https://www.linkedin.com/in/shreyas-kumar-kollur" target="_blank" class="d-flex justify-content-center align-items-center"><i class="fab fa-linkedin mr-2"></i> Shreyas Kumar</a></li>
                    <li><a href="#" class="d-flex justify-content-center align-items-center"><i class="fab fa-linkedin mr-2"></i> Suhas Santosh Pai</a></li>
                    <li><a href="#" class="d-flex justify-content-center align-items-center"><i class="fab fa-linkedin mr-2"></i> Suraj Upadhyay</a></li>
                </ul>
            </div>
        </div>
    
        <p>&copy; 2024 YouSumma. All rights reserved.</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
